<div class="container mt-4">
    <div class="row">
      <div class="col-xl-3 col-md-6" *ngFor="let card of cards">
        <div class="card text-white mb-4 {{ card.bgClass }}">
          <div class="card-body">{{ card.title }}</div>
          <div class="card-footer d-flex align-items-center justify-content-between">
            <a class="small text-white stretched-link" href="#">View Details</a>
            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  